.image {
	background-image: url(../assets/images/baner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 100vh;
	position: fixed;
 }
 
.logo {margin-top: 200px;}
 
.btn {background: none;}
 
.buton {
	margin-top: 60px;
	font-size: 3em;
	color: white;
 }
 
	.buton a {border: 1px solid white;}    