 
 
* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
 }
 
#grad1 {
	height: 100vh;
	width: 100%;
	background: #d90089;
	background: linear-gradient(to top, #d90089, #B91AC4);
 }
 
	#grad1 img {
		height: auto;
		width: 80%;
		margin: 50% 10%;
	 }
 
/* ESTILO DE LA PAGINA FINAL (SOLO LA IMAGEN GIF) */
.final {
	background-image: url(../assets/images/fin.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 100vh;
	position: fixed;
	width: 100%;
 }
 