/* AQUI SE GRADUCA EL COLOR DE FONDO DE LA PAGINA */
.grad1 {
	height: 100vh;
	background: #d90089;
	background: linear-gradient(to top, #d90089, #B91AC4);
	padding: 0;
 }
 
.styleRow {
	margin: 20px;
	padding: 70px;
 }

	.style-from.style-from {
		 padding: 0;
 	}
 
.butoon {margin-left: 80px;}