/* AQUI SE GRADUCA EL COLOR DE FONDO DE LA PAGINA */
.grad1 {
	height: 100vh;
	background: #d90089;
	background: linear-gradient(to top, #d90089, #B91AC4);
	padding: 0;
 }
 
.styleRow {
	margin: 20px;
	padding: 70px;
 }
 
.style-from.style-from {padding: 0;}
 
.butoon {margin-left: 80px;}
 
/* ESTILOS DEL MODAL */
.inputstyle {
	border: none;
	border-bottom: 1px solid;
	outline: none;
 }
 
.title {padding: 5%;}
 
.butoon {
	margin-left: 0;
	width: 100%;
	height: 50px;
 }
 