<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/inicio.css">
    <link rel="stylesheet" href="../vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>Incio</title>
</head>

<body>

    <section class="image container-fluid">
        <main class="row">
            <img class="col-xs-3 col-sm-2 col-md-1 col-lg-1 col-xs-offset-5" src="../assets/images/logo-white.png" alt="logo-fyft">
        </main>
        <main class="row">
            <img class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 logo" src="../assets/images/logo-pink.png" alt="pink-fyft">
        </main>
        <main class="row buton">
            <a class="btn col-xs-offset-3" href="#">LOG-IN</a>
            <a class="btn col-xs-offset-1" href="singUp.html">SING UP</a>
        </main>
    </section>
    <!-- Enlazando script  -->
    <script src="../vendors/js/jquery.min.js"></script>
    <script src="../vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../js/inicio.js"></script>
</body>

</html>