<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/inicio.css">
    <link rel="stylesheet" href="../vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>Incio</title>
</head>

<body>

    <section class="image container-fluid">
        <main class="row">
            <img class="img-responsive col-xs-3 col-xs-offset-5" src="../assets/images/logo-white.png" alt="logo-fyft">
        </main>
        <main class="row">
            <img class="img-responsive col-xs-10 col-xs-offset-1 logo" src="../assets/images/logo-pink.png" alt="pink-fyft">
        </main>
        <main class="row buton">
            <button type="button" class="btn col-xs-offset-3">LOG-IN</button>
            <button type="button" class="btn col-xs-offset-1">SING UP</button>
        </main>
    </section>
    <!-- Enlazando script  -->
    <script src="../vendors/js/jquery.min.js"></script>
    <script src="../vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../js/inicio.js"></script>
</body>

</html>