<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/singUp.css">
    <link rel="stylesheet" href="../vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>SingUp</title>
</head>

<body class="grad1">
    <!-- ICONO QUE REGRESA A LA PAGINA ANTERIOR -->
    <nav>
        <a href="inicio.html" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
        </a>
    </nav>
    <!-- AQUI INICIA EL CONTENIDO -->
    <section class="container-fluid">
        <main class="text-center">
            <h1>Sing Up</h1>
            <p>Join now for free ride credit</p>
        </main>
        <!-- OPCIONES PARA ELEGIR EL PAIS-->
        <div class="row styleRow">
            <form action="" class="col-xs-6 style-from">
                <select name="Paises" class="form-control">
                    <option value="">País</option>
                    <option value="51">Perú</option>
                    <option value="52">Colombia</option>
                    <option value="54">Argentina</option>
                    <option value="70">Ecuador</option>
                </select>
            </form>
            <form class="col-xs-6 style-from">
                <!--INPUT DONDE SE INGRESA EL NUMERO CELULAR-->
                <input type="number" class="form-control">
            </form>
        </div>
        <p class="text-center">We´ll send a text to verify your phone</p>
        <!-- BOTON QUE VALIDA LA INFORMACION -->
        <div class="rwo styleRow">
            <button type="button" id="btnNextPrincipal" class="btn btn-danger btn-lg col-xs-offset-3" data-toggle="modal" data-target="#myModal" disabled>
                NEXT
            </button>

            <!-- Modal VERIFY-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="title text-center">
                                <h1>Verify phone number</h1>
                                <h2>Join now for free ride credit</h2>
                                <form>
                                    <label>LAB -</label>
                                    <input type="number" id="key" class="inputstyle"> <!-- INPUT PARA EL INGRESO DEL CODIGO -->
                                </form>
                                <p>Enter the code sent to
                                    <a id="codigo"></a> <!-- SE MUESTRA EL CODIGO ELEGIDO SEGUN PAIS -->
                                </p>
                                <button class="btn" id="btn-resend">Resend code</button>  <!--BOTON QUE TE REENVIA UN NUEVO CODIGO-->
                            </div>
                        </div>                      
                            <button type="button" class="btn btn-danger butoon" data-dismiss="modal" disabled id="btn-next-verify">NEXT</button>                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Enlazando script  -->
    <script src="../vendors/js/jquery.min.js"></script>
    <script src="../vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../js/singUp.js"></script>
</body>

</html>