<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/singUp.css">
    <link rel="stylesheet" href="../vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>SingUp</title>
</head>

<body class="grad1">
    <!-- ICONO QUE REGRESA A LA PAGINA ANTERIOR -->
    <nav>
        <a href="inicio.html" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
        </a>
    </nav>
    <section class="container-fluid">
        <main class="text-center">
            <h1>Sing Up</h1>
            <p>Join now for free ride credit</p>
        </main>
        <!-- FORMULARIO DONDE SE ELIGE EL PAIS -->
        <div>
            <div class="row styleRow">
                <form action="" class="col-xs-5 style-from">
                    <select name="cars" class="form-control">
                        <option value="">País</option>
                        <option value="volvo">Perú</option>
                        <option value="saab">Colombia</option>
                        <option value="mercedes">Argentina</option>
                        <option value="audi">Ecuador</option>
                    </select>
                </form>
                <form class="col-xs-7 style-from">
                    <!--INPUT DONDE SE INGRESA EL NUMERO CELULAR-->
                    <input type="number" class="form-control">
                </form>
            </div>
            <p class="text-center">We´ll send a text to verify your phone</p>
            <!-- BOTON QUE VALIDA LA INFORMACION -->
            <div class="rwo styleRow butoon">
                <button class="btn btn-danger" type="submit" disabled>NEXT</button>
            </div>
        </div>
    </section>
    <!-- Enlazando script  -->
    <script src="../vendors/js/jquery.min.js"></script>
    <script src="../vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../js/singUp.js"></script>
</body>

</html>