<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/verify.css">
    <link rel="stylesheet" href="../vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>Verify</title>
</head>

<body>
    <nav>
        <a href="singUp.html" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
        </a>
    </nav>
    <section>
        <div class="title text-center">
            <h1>Verify phone number</h1>
            <h2>Join now for free ride credit</h2>
            <!-- AQUI SE PUSO UN INPUT PARA EL INGRESO DEL CODIGO -->
            <form>
                <label>LAB -</label>
                <input type="text" id="key" class="inputstyle">
            </form>

            <p>Enter the code sent to +52</p>
            <button class="btn">Resend code</button>  <!--BOTON QUE TE REENVIA UN NUEVO CODIGO-->
        </div>

        <!-- BOTON QUE VALIDA LA INFORMACION -->
        <button class="butoon">NEXT</button>
    </section>

    <!-- Enlazando script  -->
    <script src="../vendors/js/jquery.min.js"></script>
    <script src="../vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../js/singUp.js"></script>
</body>

</html>